{{#> base }}
    {{> AppSidebar/sidebar charts-chartjs=this }}
    <div class="app-main__outer">
        <div class="app-main__inner">
            
            <div class="tab-content">
                <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                   
                            <div class="main-card mb-3 card">
           <div class="card-body">
                                    <h5 class="card-title">Daily Expenditure</h5><table class="table"><thead class="thead-dark"><tr><th scope="col">Product Bought</th><th scope="col">Bought At</th><th scope="col">Spare Change Acquired</th></tr></thead><tbody><tr><td>Beef Noodles</td><td>$ 8.90</td><td>$ 0.10 </td></tr><tr><td>Starbucks Americano (Venti)</td><td>$ 6.20</td><td>$ 0.80 </td></tr><tr><td>Milk Tea</td><td>$ 3.30</td><td>$ 0.70 </td></tr></tbody></table>
                </div>                  </div>
                            
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <h5 class="card-title">Monthly Expenditure</h5><table class="table"><thead class="thead-dark"><tr><th scope="col">Month</th><th scope="col">Total Amount Spent</th><th scope="col">Total Spare Change</th></tr></thead><tbody><tr><td>January</td><td>$ 2560.48</td><td> $10.73 </td></tr><tr><td>February</td><td>$ 3376.85</td><td>$12.87 </td></tr><tr><td>March</td><td>$ 5447.91</td><td>$ 20.57 </td></tr></tbody></table>
                </div>
                                </div>
                           
                       </div> 
                       
                    </div>

                </div>
            
            </div>
{{/ base }}