<div class="app-header bg-mean-fruit header-text-dark" >
    
   
    <div class="app-header__content">
         <div class="app-header-middle">
            {{> Components/header-middle }}
        </div>
        <div class="app-header-right">
            {{> Components/header-right }}
        </div>
        
    </div>
</div>