{{#> base }}
    {{> AppSidebar/sidebar dashboards-eg-1=this }}
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content bg-midnight-bloom">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">June's Spare Change </div>
                                
                            </div>
                            <div class="widget-content-right">
                                <div id="total_investment" class="widget-numbers text-white"><span>$ 30.00</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content bg-arielle-smile">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div  class="widget-heading">Now Invested</div>
                            </div>
                            <div class="widget-content-right">
                                <div id="returns_made" class="widget-numbers text-white"><span>$ 10.20</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content bg-grow-early">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Returns</div>
                              
                            </div>
                            <div class="widget-content-right">
                                <div id="green_funds" class="widget-numbers text-white"><span>$ 1.02</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-xl-none d-lg-block col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content bg-premium-dark">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Test Sold</div>
                                <div class="widget-subheading">Revenue streams</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-warning"><span>$14M</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">  
                <div class="col-md-12 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                HSCEI ESG Index 
                            </div>
                    
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_76d27"></div>
  <div class="tradingview-widget-copyright">
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 700,
  "height": 640,
  "symbol": "SPWR",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "Light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_76d27"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->

                                <div class="tab-pane fade show active" id="tabs-eg-77">
                                    <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">Companies</h6>
                                    <div class="scroll-area-sm">
                                        <div class="scrollbar-container">
                                            <ul class="rm-list-borders rm-list-borders-scroll list-group list-group-flush">
                                               <li class="list-group-item">
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-3">
                                                                {{!-- <img width="42" class="rounded-circle" src="assets/images/avatars/5.jpg" alt=""> --}}
                                                            </div>
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">SPWR</div>
                                                                <div class="widget-subheading">Sunpower Corp  </div>
                                                                <p class="text-success">78/100 ESG Index
                                                                    <small class="text-success pl-2">
                                                                        <i class="fa fa-angle-up"></i>
                                                                    </small>
                                                                </p>
                                                                
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="font-size-xlg text-muted">
                                                                    {{!-- <small class="opacity-5 pr-1">$</small> --}}
                                                                    <span>$10.20      +0.01%</span>
                                                                    <small class="text-success pl-2">
                                                                        <i class="fa fa-angle-up"></i>
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-3">
                                                
                                                            </div>
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">GDOT</div>
                                                                <div class="widget-subheading">Green Dot Corporation</div>
                                                                <p class="text-danger">74/100 ESG Index
                                                                    <small class="text-danger pl-2">
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </small>
                                                                </p>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="font-size-xlg text-muted">
                                                                   
                                                                    <span>$8.90      -0.02%</span>
                                                                    <small class="text-fail pl-2">
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-3">
                                                                
                                                            </div>
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">ENPH</div>
                                                                <div class="widget-subheading">Enphase</div>
                                                                <p class="text-danger">72/100 ESG Index <small class="text-danger pl-2">
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </small></p>
                                                                    
                                                                
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="font-size-xlg text-muted">
                                                                    
                                                                    <span>$1166 +0.00%</span>
                                                                    <small class="text-warning pl-2">
                                                                        <i class="fa fa-dot-circle"></i>
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
        </div>

    </div>
    </div>
    
    <div class="col-md-12 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                HSI ESG Index
                            </div>
                    
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
<div class="tradingview-widget-container">
  <div id="tradingview_6d021"></div>
  <div class="tradingview-widget-copyright">
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 700,
  "height": 640,
  "symbol": "NYSE:AWK",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "Light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_6d021"
}
  );
  </script>
</div>

                                <div class="tab-pane fade show active" id="tabs-eg-77">
                                    <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">Companies</h6>
                                    <div class="scroll-area-sm">
                                        <div class="scrollbar-container">
                                            <ul class="rm-list-borders rm-list-borders-scroll list-group list-group-flush">
                                               <li class="list-group-item">
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-3">
                                                                
                                                            </div>
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">NYSE:AWK</div>
                                                                <div class="widget-subheading">New York Water Works</div>
                                                                <p class="text-danger">70/100 ESG Index <small class="text-fail pl-2">
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </small></p>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="font-size-xlg text-muted">
                                                                 
                                                                    <span>$129     +0.01%</span>
                                                                    <small class="text-success pl-2">
                                                                        <i class="fa fa-angle-up"></i>
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-3">
                                                               
                                                            </div>
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">OTC:TGODF</div>
                                                                <div class="widget-subheading">Green Organic Dutchman Holdings</div>
                                                                <p class="text-success">80/100 ESG Index <small class="text-fail pl-2">
                                                                        <i class="fa fa-angle-up"></i>
                                                                    </small></p>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="font-size-xlg text-muted">
                                                                  
                                                                    <span>$2.90      +0.00%</span>
                                                                    <small class="text-warning pl-2">
                                                                        <i class="fa fa-dot-circle"></i>
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-3">
                                                            </div>
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">NEP</div>
                                                                <div class="widget-subheading">Nextrea Energy Partners LP</div>
                                                                <p class="text-success">90/100 ESG Index <small class="text-fail pl-2">
                                                                        <i class="fa fa-angle-up"></i>
                                                                    </small></p>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="font-size-xlg text-muted">
                                                                    <span>$48.60 +0.02%</span>
                                                                    <small class="text-success pl-2">
                                                                        <i class="fa fa-angle-up"></i>
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
            </div>
                        </div>
            

    </div>
    </div>
                            
{{/ base }}